Data Types in Python :
1. Numbers
2. String
3. Boolean
4. List
5. Slicing
6. Tuple
7. Set
8. Dictionary

1. NUMBERS

the numeric data types are categorized into three main types :
- int (integer): Represents whole numbers, positive, negative, or zero.
- float (floating-point): Represents numbers with decimals.
- complex: Represents complex numbers (combination of real and imaginary parts).

The difference between an integer and a float is the decimal points.

In [14]:
a = 3

In [15]:
type(a)

int

In [2]:
b = 5612

In [3]:
type(b)

int

In [4]:
c = 1.7

In [5]:
type(c)

float

In [8]:
d = 15.64

In [9]:
type(d)

float

Because Python is also widely used by mathematicians, the number type in Python also supports imaginary numbers and complex numbers.
The value of a complex number is written in the formulation x+yj. that is, x is a real number and y is an imaginary number.

In [10]:
e = 3+5j

In [12]:
type(e)

complex

In [4]:
f = 18+11j

In [5]:
type(f)

complex

2. STRING

strings are sequences and unicode characters declared with single or double quote.

In [31]:
a = "Hello, world!"

In [32]:
type(a)

str

In [33]:
print (a)

Hello, world!

If you want a string > 1 line, then use 3 single or double quotes (''' or """).
or, you can also use backslice n (\n).

In [6]:
b = """Bootcamp Data Analyst
Kampus Merdeka x My Edu Solve
Class B"""

In [7]:
print (b)

Bootcamp Data Analyst
Kampus Merdeka x My Edu Solve
Class B

In [8]:
b = "Bootcamp Data Analyst \nKampus Merdeka x My Edu Solve \nClass B"

In [9]:
print (b)

Bootcamp Data Analyst
Kampus Merdeka x My Edu Solve
Class B

In [10]:
c = "I'am"

In [11]:
print (c)

I'am

3. BOOL/BOOLEAN

A boolean data type in Python, denoted by bool, represents logical values. It can only have two possible values:

- True: Represents truth or a positive condition.
- False: Represents falsehood or a negative condition.

In [41]:
2>5

False

In [43]:
2<=5

True

In [42]:
2==5

False

In [44]:
2!=5

True

4. SLICING

Slicing in Python is a powerful technique for extracting a subset of elements from sequences like lists, tuples, and strings. It allows you to create a new sequence containing a specific portion of the original one, without modifying the original sequence itself.

5. LIST

Lists are a type of ordered data collection and are one of the variables that are often used in Python.
Similar but not the same as Arrays in other programming languages.
The difference is, List elements in Python do not have to have the same data type.
Declaring a List is quite easy by using square brackets separated by commas.

In [45]:
a = [4, 6.32, 'sembilan']

In [46]:
type (a)

list

In [47]:
print (a)

[4, 6.32, 'sembilan']

Each data in it can be accessed with an index starting from 0 (slicing the list)

In [48]:
a[0]

4

In [49]:
a[1]

6.32

In [50]:
a[2]

'sembilan'

In [51]:
type (a[0])

int

In [52]:
type(a[1])

float

In [53]:
type(a[2])

str

In [56]:
tgl = [17, 'juli', 2002]

In [57]:
type(tgl)

list

In [58]:
print(tgl)

[17, 'juli', 2002]

In [59]:
tgl[0]

17

In [60]:
type(tgl[0])

int

6. TUPLE

Tuple is a type of List whose elements cannot be changed.
Generally used for data that is write-once, and can be executed more quickly.
Tuples are defined with brackets and elements separated by commas.

In [2]:
a = (2, "buku", 3.5)

In [3]:
type (a)

tuple

In [4]:
print (a)

(2, 'buku', 3.5)

similar to lists, tuple also support slicing to extract specific subsequences.

In [6]:
print(a[0])

2

In [8]:
print(a[0:2])

(2, 'buku')

7. SET

Set is a collection of items that are unique and without order (unordered collection). It is defined by curly braces and its elements are separated by commas.
On sets, we can perform unions and intersections, as well as automatically delete duplicate data.

In [13]:
a = {3,3,3,3,4,4,4,5,5,5}

In [11]:
type(a)

set

In [12]:
print(a)

{3, 4, 5}

Slicing cannot be used for direct retrieval of elements based on their value in sets because sets are unordered collections.

In [14]:
print(a[1])

TypeError: 'set' object is not subscriptable

In SET, we can perform UNIONS and INTERSECTION, as well as automatically delete duplicate data.

In [14]:
a = {1,2,3}

In [16]:
b = {2,3,4,5}

In [17]:
a.union(b)

{1, 2, 3, 4, 5}

In [18]:
a.intersection(b)

{2, 3}

8. DICTIONARY

A dictionary in Python is a collection of unordered key-value pairs.
Dictionaries can be used to store small to large data. To access the data, we must know the key.
In Python, a dictionary is defined with curly braces and additional definitions:
- Each element of a key-value pair is separated by a comma (,)
- key and value are separated by a colon (:)
- keys and values ​​can be any type of variable/object.

In [19]:
a = {"nama":"Nam Do San" , "usia":25}

In [20]:
type(a)

dict

In [21]:
a["nama"]

'Nam Do San'

In [22]:
a["usia"]

25

Dictionaries are not included in sequence implementations, so they cannot be called with index sequences.
For example, in the following example it is tried with index 0, but it produces an error (KeyError) because there is no key (key) 0.

In [23]:
a[0]

KeyError: 0

Dictionaries in Python are powerful because they allow you to create nested structures, where one dictionary can contain another dictionary as a value. This is often referred to as nested dictionaries.

In [32]:
b = {"nama" :
     {"nama_1" : "Zilla", 
      "nama_2" : "Lala"}
    }

In [33]:
b['nama']['nama_1']

'Zilla'