FOR

- For is a function that can loop over each type of variable in the form of a collection or sequence
- The variable in question can be a list, string, or range
- If a list or sequence contains an expression, it will be evaluated first
- Then the first item in the sequence/list will be assigned as the iterating_var variable
- Afterwards, the block of statements will be executed, continuing to the next item, repeating itself, until the entire sequence is completed.

In [1]:
for i in 'data':
    print ("letter {}". format(i))

letter d
letter a
letter t
letter a

In [2]:
color = ['red', 'yellow', 'green']

for i in color:
    print ("color {}". format(i))

color red
color yellow
color green

In [6]:
for i in range (3):
    print (i)

0
1
2

In [3]:
for i in range(1,4):
    print(i)

1
2
3

In [3]:
day = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

for i in day:
    print("today is {}". format(i))

today is monday
today is tuesday
today is wednesday
today is thursday
today is friday

Nested Loop

In [3]:
for row in range (3) :
    for col in range (3) :
        if row == 0 and col <= 2:
            print ("*", end = " ")
        elif row == 1 and col <= 1:
            print ("*", end = " ")
        elif row == 2 and col == 0:
            print ("*", end = " ")
    print ()

* * *
* *
*

In [6]:
for row in range (4):
    for col in range (4):
        if row == 0 and col == 0:
            print ("*", end = " ")
        elif row ==1 and col <=1:
            print ("*", end = " ")
        elif row ==2 and col <=2:
            print ("*", end = " ")
        elif row ==3 and col <=3:
            print ("*", end = " ")
    print ()

*
* *
* * *
* * * *

In [5]:
for row in range (5):
    for col in range (5):
        if row == 0 and col <= 4:
            print ("*", end = " ")
        elif row ==1 and col <=3:
            print ("*", end = " ")
        elif row ==2 and col <=2:
            print ("*", end = " ")
        elif row ==3 and col <=1:
            print ("*", end = " ")
        elif row ==4 and col ==0:
            print ("*", end = " ")
    print ()

* * * * *
* * * *
* * *
* *
*

Else after For

The Else function after for is the function that takes precedence over search loops - to provide a program exit when the search is not found.

In [4]:
for i in range (1,7):
    if i % 2 == 0:
        print ("{} is an even number".format(i))
    else:
        print("{} is an odd number".format(i))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number

In [5]:
for i in range (3,13):
    if i % 3 == 0:
        print ("{} is a multiple of three".format(i))
    else:
        print("{} is not a multiple of three".format(i))

3 is a multiple of three
4 is not a multiple of three
5 is not a multiple of three
6 is a multiple of three
7 is not a multiple of three
8 is not a multiple of three
9 is a multiple of three
10 is not a multiple of three
11 is not a multiple of three
12 is a multiple of three