VARIABEL

A variable is a place (in computer memory) to store values ​​with a certain data type.
To assign a value to a variable, we use the "=" operator, between the variable name and the value we want to store.

a = 3
## meaning : we will store the value 3 (type int) into variable a

PRINT

The print() function is a direct way of output to the console/screen.

In [1]:
print("How are you?")

How are you?

Entering variable values ​​in strings

To insert variable values ​​in strings, Python has several ways.
- Directly combine variables in the print() statement.

In [3]:
a = 3

In [4]:
type(a)

int

In [5]:
print ("The value of variable a is", a)

The value of variable a is 3

In [8]:
name = "fatim"

In [10]:
print ("My name is", name)

My name is fatim

- To display text (string), you can use the string format mechanism.

In [11]:
print ('My name is {}'. format('Fatim'))

My name is Fatim

In [12]:
Name = "Fatim"

In [13]:
print ("My name is {}". format(Name))

My name is Fatim

Using the % operator added with "argument specifiers"

Some examples of argument specifiers, which are commonly used:
1. %s - string
2. %d - integer
3. %f - float

In [14]:
name = "fatim"

In [15]:
age = 22

In [17]:
print ("%s's age is %d years" %(name, age))

fatim's age is 22 years

INPUT

To allow users to provide input to your program, use the input() function, where the argument in brackets () is the text you want to display (prompt) and the variable before the equal sign (=) is a container for the result of the user's input.

In [40]:
input()

 tes

'tes'

In [19]:
name = input("my name is :")

my name is : fatim

In [20]:
print (name)

fatim

By default, user input is a string

In [21]:
age = input("my age is :")

my age is : 21

In [23]:
print (age)

21

In [24]:
type(age)

str

If you want to change the data type, you can convert it

In [25]:
age = int(input("my age is:"))

my age is: 21

In [26]:
print (age)

21

In [27]:
type (age)

int

Another example

In [54]:
menu = 'bakso'

In [55]:
jumlah = 13

In [56]:
print("Menu %s hari ini ada sebanyak %d porsi" %(menu,jumlah))

Menu bakso hari ini ada sebanyak 13 porsi

In [57]:
nama = input("Masukkan nama anda :")

Masukkan nama anda : Fatimah

In [58]:
email = input("Masukkan alamat email anda :")

Masukkan alamat email anda : fatimahzza@upi.edu

In [59]:
telepon = input("Masukkan nomor telepon anda :")

Masukkan nomor telepon anda : 0822222

In [60]:
print("Terima kasih! Berikut adalah informasi yang Anda berikan :")
print("Nama =", nama)
print("e-mail =", email)
print("Nomor Telepon =", telepon)

Terima kasih! Berikut adalah informasi yang Anda berikan :
Nama = Fatimah
e-mail = fatimahzza@upi.edu
Nomor Telepon = 0822222